.ems-login{
    .mod-mini-login{
        &-header{
            padding:8px 20px;
        }
    }
}

.mod-mini-login{
    &-header{
        cursor: pointer;
        background: #fff;
        font-family: $bold;
        font-size: 13px;
        letter-spacing: .9px;
        padding: 0px 20px;
        min-width: 125px;
        text-align: center;
        min-height: 30px;
        @include transition(all 333ms ease);
        > span[id$="lbfkutuUyeGiris1"]{
            display: flex;
            align-items: center;
            i{
                font-size:30px;
                margin-right:5px;
            }
        }
        > span[id$="lbhKUTU_HESABIM"]{
            display: inline-block;
            max-width: 130px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &-footer{ display: none; }
    &-body{
        .sub {
            position: absolute;
            top: 30px;
            right: 0;
            z-index: 10;
            padding: 30px 30px;
            @include animation(cart 333ms ease);
            .ems-message{
                margin-bottom: 20px;
                &:empty{ display: none; }
            }
            .sub-title{
                margin: 0;
                font-weight: normal;
                font-size: 13px;
                letter-spacing: .9px;
                color: #fff;
                font-family: $bold;
                padding-bottom: 20px;
                text-align: center;
                display: block;
            }
            .seperator span{
                font-size: 13px;
                color: #fff;
                font-family: $regular;
                display: block;
                padding: 20px 0 20px 0;
                text-align: center;
            }
            .ems-form{
                &-inner{
                    .ems-field{
                        .ems-form-obj{
                            input{
                                background:#fff;
                                color: $darkBlack;
                            }
                        }
                        #lnkSifremiUnuttum{
                            padding: 0 0 0 5px;
                            display: inline-block;
                            margin-bottom: 20px;
                            span{
                                font-size: 13px;
                                color: #bebebe;
                                font-family: $regular;
                            }
                        }
                        &-submit{
                            a.btnKutuLogin, a.btnFacebookLoginKutu{
                                max-width: 250px;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                            a.btnFacebookLoginKutu{margin-top: 25px;}
                        }
                        .ems-new-login{
                            span[id$="lbflnkUyeOlmak"]{
                                display:block;
                                a.lnkUyeOlmak{
                                    display: block;
                                    background: none;
                                    padding: 13px 5px 13px 5px;
                                    background:#fff;
                                    border:1px solid #DA1021;
                                    color:$darkBlack;
                                    &:hover{
                                        background: #DA1021;
                                        color:#fff;
                                    }
                                    span{
                                        font-family: $bold;
                                        font-size: 15px;
                                        letter-spacing: .9px;
                                    }
                                    @media screen and (min-width: 850px){
                                        max-width: 250px;    
                                        margin-left: auto;
                                        margin-right: auto;
                                        padding-top: 9px;
                                        padding-bottom: 10px;
                                    }
                                }
                            }
                        }
                        .btnKutuLogin{
                            background: #DA1021;
                        }
                    }
                }
            }
            &.login{
                width: 100%;
                padding: 20px;
            }
            .ems-user-info{
                display: none;
            }
            .ems-user-pages{
                > div * {
                    color:$darkBlack;
                    font-size: 15px;
                }
                > div {
                    a{
                        display: inline-block;
                        padding:7px 10px;
                        &.btnKutuLogout{
                            padding: 15px 17px 15px 17px;
                            margin-top: 20px;
                        }
                        &:hover{ text-decoration: underline; }
                    }
                }               
            }
        }
    }
}

@media screen and (min-width: 850px){
    .mod-mini-login{
        &-body{
            .sub{
                background:$rgbBg;
                width: 350px;
                padding:30px 20px;
                top:45px; 
                .sub-title{
                    text-align: left;
                    font-size: 17px;
                    color:$darkBlack;
                }
                .ems-form{
                    &-inner{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .ems-form-left,
                    .seperator,
                    .ems-form-right{
                        display: table-cell;
                        vertical-align: top;
                    }
                    .ems-form-left{width: 100%;}
                    .seperator{width: 100%; padding-top: 15px;}
                    .ems-form-right{width: 100%;}
                        .ems-field {
                            display: table;
                            width: 100%;
                            .ems-form-label,
                            .ems-form-obj{display:table-cell; vertical-align: middle; padding-bottom: 15px;}
                            .ems-form-label{min-width: inherit; float: inherit; color:$darkBlack; font-size: 14px; width: 25%;}
                            .ems-form-obj{width: 75%; margin-bottom: 0; margin-left: 0;}
                            .btnKutuLogin{
                                padding-top: 10px;
                                padding-bottom: 10px;
                                width: calc(100% - 25%);
                                color: #fff;
                            }
                            #lnkSifremiUnuttum{width: calc(100% - 25%);padding-left: 0;}
                            #lnkSifremiUnuttum span{color: $darkBlack;}
                            &-submit{
                                a.btnFacebookLoginKutu{
                                    margin-top: 15px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body.mini-login-ready{
    .mod-mini-login{
        &-header{
            background: #2e2a2b; color: #fff;
        }
        @media screen and (min-width: 850px){
            &-header{
                background:none;
                color:black;
            }
        }
    }
    .vailLogin{ opacity: .3; visibility: visible; }
}

body.ems-logoff.mini-login-ready{
    .mod-mini-login{
        &-body{
            .sub.logoff{
                display: block;
            }
        }
    }
}

body.ems-login.mini-login-ready{
    .mod-mini-login{
        &-body{
            .sub.login{
                display: block;
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .mod-mini-login{
        &-header{ display: none; }
        &-body{
            .sub{
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                right: 0;
                background: #fff;
                padding: 0;
                .sub-title{
                    font-size: 20px;
                    color: #fff;
                    font-size: 20px;
                    background: $darkBlack;
                    padding-top: 20px;
                    margin-bottom: 20px
                }
                .seperator span{color:$darkBlack;}
                .ems-form{
                    &-inner{
                        padding: 0 50px 30px 50px;
                        .ems-field{
                            .ems-form-label{
                                float: none;
                                min-width: 100%;
                                color: $darkBlack;
                                font-family: $bold;
                                font-size: 17px;
                            }
                            .ems-form-obj{
                                margin-left: 0;
                                input{ height: 50px; line-height: 38px; color: $darkBlack; }
                            }
                            .seperator span{
                                font-size: 17px;
                                color: $darkBlack;
                                font-family: $bold;
                            }
                            #lnkSifremiUnuttum span{
                                color: $darkBlack;
                                font-family: $bold;
                                font-size: 17px;
                            }
                            .ems-new-login{
                                span[id$="lbflnkUyeOlmak"]{
                                    display:block;
                                }
                            }
                            &-submit{
                                a.btnKutuLogin, a.btnFacebookLoginKutu{
                                    max-width: 100%;
                                    padding-top: 18px;
                                    padding-bottom: 17px;
                                }
                            }
                            .btnKutuLogin{color: #fff;}
                        }
                    }
                }
                &.login{
                    width: 100%; padding: 0;
                }
                &.logoff{
                    .ems-form-inner{ padding-left: 20px; padding-right: 20px;}
                }
                .ems-user-info{
                    position: relative;
                    display: block;
                    font-size: 17px;
                    font-family: $bold;
                    padding: 26px 50px;
                    background: $darkBlack;
                    color: #fff;
                    .member-account{display: none;}
                    .mobile-user-popup-close{
                        cursor: pointer;
                        position: absolute;
                        left: 8px;
                        width: 40px;
                        text-align: center;
                        padding: 5px;
                        top: 21px;
                        height: 30px;
                    }
                }
                .ems-user-pages{
                    padding-top: 10px;
                    > div * {
                        color: $darkBlack;
                        font-size: 17px;
                        font-family: $bold;
                    }
                    > div {
                        padding: 0 40px;
                        a{
                            display: block;
                            padding-top: 21px;
                            padding-bottom: 21px;
                            border-top: 1px solid #ededed;
                            text-transform: uppercase;
                            &.btnKutuLogout{
                                margin-bottom: 20px;
                            }
                        }
                        &:first-child{
                            a{ border: none;  }
                        }
                    }               
                }
            }
        }
    }
}