.mod-mini-search{
    @include transition(all 333ms ease);
    width: 100%;
    height: 40px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 2;
    &-header, &-footer{
        display: none;
    }
    .ems-form{
        .ems-field{
            margin-bottom: 0;
            input{
                padding-right: 50px;
                border-radius: 3px;
                background: $eGray;
                border: none;
                height: 40px;
                line-height: 30px;
            }
            &.submit{
                position: absolute;
                width: 20px;
                height: 20px;
                right: 20px;
                top: 50%;
                z-index: 1;
                margin-top: -10px;
                opacity: 1;
                @include transition(opacity  333ms ease);
                a.btnDefault {
                    padding: 0;
                    background: none;
                    span{
                        display: block;
                        font-size: inherit;
                        i.icon-ico_search{
                            font-size: 20px;
                            &:before{
                                font-size: 20px;
                                color:$lDark;
                            }   
                        }
                        .discount-search{display:none;}
                    }
                }
            }
            span[id$="lbfkutuArama1"] { display: none; }
        }
    }
}

.ems-desktop-case-visible{
    > a{
        display: inline-block;
        i.icon-ico_search, i.icon-ico_search:before{
            font-size: 20px;
            &:before{
                color: #231f20;
            }
        }
    }
}

.searchSuggestDiv{
    background:$rgbBg;
    top: 55px;
    right: 0;
    width: 720px;
    left: inherit !important;
    max-width: 720px;
    @include animation(opacityVail 333ms ease);
    .searchSuggestDivHolder{
        padding: 0 20px 30px 20px;
        &:before, &:after{
            content:'';
            font-size: 0;
            width: 100%;
            display: table;
            height: 0;
            clear: both;
        }
        .wordSearch{
            display: none;
        }
        .prd, .cat{
            width: 50%;
            padding: 0 15px 0 15px;
            > h3{
                margin: 0;
                font-size: 13px;
                color: #727272;
                padding: 10px 0 10px 0;
                border-bottom: 1px solid #979797;
                small{ display: none; }
            }
            .sHolder{
                padding: 0 20px 0 0;
                overflow-x: hidden;
                margin-top: 20px;
            }
        }
        .prd{
            float: right;
            .sHolder{
                max-height: 220px;
                .suggest_link, .suggest_link_over{
                    margin-bottom: 20px;
                    cursor: pointer !important;
                    table{
                        width: 100%;
                        table-layout: fixed;
                        tbody{
                            tr{
                                th{
                                    width: 80px;
                                    float: left;
                                    img{ max-width: 80px; width: 100%; }
                                }
                                td{
                                    float: left;
                                    width: auto;
                                    > span, > span b{
                                        font-size: 15px;
                                        font-family: $regular;
                                        color: #fff;
                                        font-weight: normal;
                                    }
                                    span.suggest_urnprice.emos_invisible{
                                        display: block;
                                        &:before{
                                            content:'t';
                                            font-family:$tl;
                                            font-size: 14px;
                                            color: #fff;
                                            padding-right: 2px;
                                        }
                                    }
                                    &:nth-child(2){ max-height: 44px; height: 44px; overflow: hidden; }
                                    &:nth-child(2), &:nth-child(4){
                                        width: 190px;
                                        padding:10px 0 0 10px;
                                    }
                                }
                            }
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .cat{
            float: left;
            > h3{
                text-transform: uppercase;
            }
            .sHolder{
                max-height: 205px;
                > div {
                    > a{ display: none; }
                    .fullCatLink.emos_invisible{
                        display: block;
                        border-bottom:1px solid rgba(151,151,151, 0.9);
                        > a, span{
                            display: inline-block;
                            vertical-align: middle;
                            color: #fff;
                            font-size: 14px;
                        }
                        > a{
                            padding: 13px 5px 12px 5px;
                            font-size: 14px;
                            &:first-child{
                                letter-spacing: 1.9px;
                                text-transform: uppercase;
                                font-family:$bold;
                            }
                        }
                        > span{
                            padding: 0 2px 0 2px;
                        }
                    }
                    > img{ display: none; }
                }
            }
        }
    }
}

body.search-focused{
    .mod-mini-search{
        .ems-form{
            .ems-field{
                input{
                    background:#2e2a2b;
                    color: #fff;
                }
                &.submit{
                    a.btnDefault span{
                        i.icon-ico_search:before{ color: #fff; }
                    }
                }
            }
        }
    }
}
body.search-keyup{
    .vailSearch{ opacity: .5; visibility: visible; }
}

@media screen and (min-width: 850px){
    .searchSuggestDiv{
        .prd, .cat{
            ::-webkit-scrollbar {
                width: 6px;
            }
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                -webkit-border-radius: 3px;
                border-radius: 3px;
            }
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                background: rgba(253,222,0,0.9);
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(253,222,0,1); 
            }
        }
    }
    body.sticky-header{
        &-animate{
            .mod-mini-search{
                width: 0;
                overflow: hidden;
                .ems-form{
                    .ems-field{
                        &.submit{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }    
}

@media screen and (max-width: $breakpointXSM){
    .mod-mini-search{
        display: block;
        transition: none;
        position: inherit;
        top: inherit;
        left: inherit;
        z-index: inherit;
        height: 50px;
        &-header{ display: none; }
        .ems-form{
            .ems-field{
                input{
                    padding-left: 25px;
                    padding-right: 40px;
                    color: #acacac;
                    height: 50px;
                    line-height: 40px;
                }
                &.submit{
                    top:50%;
                    right: 10px;
                    width:30px;
                    height:28px;
                    margin-top: -14px;
                    text-align: center;
                    a.btnDefault{
                        padding: 7px 0;
                        span{
                            i.icon-ico_search, i.icon-ico_search:before{
                                font-size: 14px;
                                @include transition(all 0.2s ease-in-out);
                            }
                        }
                    }
                }
                span[id$="lbfkutuArama1"] {
                    padding: 5px 0;
                    .mobile-element{
                        border-radius: 100%;
                        background: #b3b3b3;
                        width: 19px;
                        height: 19px;
                        padding: 0;
                        text-align: center;
                        i.icon-ico_remove{
                            display: inline-block;
                            line-height: 19px;
                            &:before{ color: #fff; }
                        }
                        i.icon-ico_remove, i.icon-ico_remove:before{
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }

    .product-empty, .page-empty{
        .mod-mini-search{
            .ems-form{
                .ems-field{
                    input{max-width:100%;}
                    &.submit{
                        transition: none;
                        right: 20px;
                        transform: none;
                    }
                }
            }
        }
    }
    .searchSuggestDiv{
        position: fixed !important;
        top: 50px;
        left: 0 !important;
        background:#fff;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        height: calc(100% - 30px);
        z-index: 12 !important;
        .searchSuggestDivHolder{
            width: 100%;
            width: 100%;
            position: absolute;
            height: calc(100% - 20px);
            overflow: auto;
            @include flex();
            @include flexDirection(column);
            .dvTumunuGoster {
                order: 3;
                display: block !important;
            }
            .prd, .cat{
                float: none !important;
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                > h3{
                    text-transform: uppercase;
                    color:rgba(0,0,0,.2);
                    letter-spacing:2px;
                    font-size: 14px;
                    border-color: rgba(151,151,151,.2);
                }
                .sHolder{
                    max-height: 50%;
                    padding-right: 0;
                    margin-top: 0;
                    overflow-y: visible;
                    overflow-x: visible;
                }
            }
            .cat{
                order: 1;
                .sHolder{
                    > div {
                        .fullCatLink.emos_invisible{
                            border-bottom-color: rgba(151,151,151,.2);;
                            > a, span{
                                color: #000;
                                font-size: 14px;
                            }
                            > a{
                                letter-spacing: 1.9px;
                                font-family:$bold;
                            }
                        }
                    }
                }
            }
            .prd{
                order: 2;
                margin-top: 20px;
                .sHolder{
                    .suggest_link, .suggest_link_over{
                        border-top: 1px solid rgba(151,151,151,.2);
                        margin-bottom: 0;
                        padding: 7px 0;
                        table{
                            tbody{
                                tr{
                                    th{
                                        width: 15%;
                                        img{ max-width: 45px; }
                                    }
                                    td{
                                        > span, > span b{
                                            color:#000;
                                            letter-spacing: 1.9px;
                                            font-family: $bold;
                                        }
                                        &:nth-child(2){
                                            width: 85%;
                                        }
                                        &:nth-child(4){
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        &:first-child{
                            border: none;
                        }
                    }
                }
            }
        }
    }
    body{
        &:after{
            content:'';
            width: 100%;
            height: 100%;
            position: fixed;
            bottom: -100%;
            left: 0;
            background: #fff;
            height: calc(100% - 50px);
            @include transition(bottom 333ms ease);
            z-index: 8;
        }
    }
    body.search-focused{
        overflow: hidden;
        &:after{ bottom: 0; }
        .mod-mini-search{
            .ems-form{
                .ems-field{
                    input{ background: #eee; color: #000; }
                    &.submit{
                        a.btnDefault span{
                            i.icon-ico_search:before{ color:#acacac; }
                        }
                    }
                }
            }
        }
    }
    body.search-keyup{
        .mod-mini-search {
            .ems-form{
                .ems-field{
                    &.submit{
                        a.btnDefault{
                            display: none;
                        }
                    }
                }
                span[id$="lbfkutuArama1"] {
                    display: inline-block;
                    cursor: pointer;
                }
            }
        } 
    }
    body.search-keyup .vailSearch{ display: none !important; }
    body{
        &:after{direction: none;}
    }
}