.ems-tab {
    position: relative;
    &-inner{
        > ul.navigation-js{
            display: table;
            width: 100%;
            > li{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                a{
                    display: inline-block;
                }
            }
        }
        > ul.content-js{
            > li{
                display: none;
                > a{
                    display: none;
                }
                &.selected{
                    display: block;
                }
                .content{
                    position: relative;
                }
            }
        }
    }
    &-categories{
        width: 50%;
        float: left;
        padding: 15px;
        .ems-tab-inner{
            overflow: hidden;
            > .navigation-js{
                width: 95%;
                max-width: 380px;
                position: absolute;
                z-index: 1;
                top: 60px;
                margin: 0 auto;
                left: 0;
                right: 0;
                border: 3px solid #fff;
                > li{
                    width: 33.333%;
                    border-left: 3px solid #fff;
                    background: rgba(0,0,0,.3);
                    a{
                        font-size: 15px;
                        letter-spacing: 1px;
                        color: #fff;
                        padding: 12px 0;
                    }
                    &:first-child{
                        border: none;
                    }
                    &.selected{
                        background: #fff;
                        a{
                            color: $lDark;
                        }
                    }
                }
            }
            > ul.content-js{
                > li{
                    .content{
                        .mod-cat-cover{
                            background-repeat: no-repeat !important;
                            background-size: cover !important;
                            background-position: center center !important;
                        }
                        .mod-cat-icon{
                            position: absolute;
                            top: 50%;
                            @include setTransform(translateY(-50%));
                            width: 108px;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                        }
                        .mod-cat-link{
                            position: absolute;
                            bottom: 5%;
                            width: 90%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            text-align: center;
                        }
                    }
                    &.selected{
                        .content{
                            @include animation(scale 333ms ease);
                        }
                    }
                }
            }
        } 
    }
    
    &-detail{
        .ems-tab-inner{
            padding: 50px 20px 30px 20px;
            > ul.navigation-js{
                max-width: 650px;
                margin: 0 auto 30px auto;
                li{
                    a{
                        border:3px solid #191e23;
                        width: 100%;
                        padding: 14px 0;
                        span{
                            color: $lDark;
                        }
                    }
                    &.selected{
                        a{
                            background-color: #191e23;
                            span{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            > ul.content-js {
                .content-detail{
                    max-width: 970px;
                    margin: 0 auto;
                    padding: 0 10px;
                    .yt-player{
                        margin-bottom: 30px;
                        .yt-player-inner{position: relative;}
                        &.is-play{
                            .yt-video-btn{
                                opacity: 0;
                                overflow: hidden;
                                visibility: hidden;
                            }    
                        }
                        .yt-video-btn{
                            position: absolute;
                            height: 48px;
                            width: 48px;
                            margin: -24px auto 0 auto;
                            left: 0;
                            right: 0;
                            top: 50%;
                            @include transition(all .2s ease);
                            &:after{
                                font-family: 'icomoon';
                                content: '\e913';
                                font-size: 48px;
                                height: 48px;
                                width: 48px;
                                color: #fff;
                            }
                            span{display: none;}
                        }
                    }
                    .yt-cover{
                        position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 25px;
                        height: 0;
                        .yt-player{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    &-sss{
        .ems-tab-inner{
            > .navigation-js{display:none;}

            > ul.content-js > li{
                border-bottom: 3px solid #ededed;
                &:first-child{
                    border-top: 3px solid #ededed;    
                }
                > a{
                    padding: 20px 60px 20px 10px;
                    display: block;
                    position: relative;
                    text-align: left;
                    span{
                        font-size: 20px;
                        font-family: $bold;
                        color: #231f20;
                    }
                    &:after{
                        content:'\e914';
                        font-family: 'icomoon';
                        font-size: 8px;
                        width: 8px;
                        height: 8px;
                        color: #231f20;
                        position: absolute;
                        top: 50%;
                        margin-top: -4px;
                        right: 30px;
                    }
                }
                display: block;
                &.selected{
                    > a{
                        &:after{
                            content:'\e910';
                        }
                    }
                    .content{
                        display: block;
                    }
                }
                .content{
                    display: none;
                    text-align: left;
                    padding:0 50px 20px 20px;
                    font-size: 18px;
                    font-family: $regular;
                    p{
                        margin-top: 10px;
                        &:first-child{margin-top: 0;}
                        &.margin10{ margin-top: 10px; }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .ems-tab {
        &-categories{
            width: 100%;
            float: none;
            padding: 0;
            .ems-tab-inner{
                > .navigation-js{
                    top: 17px;
                }
                > ul.content-js{
                    > li{
                        .content{
                            .mod-cat-cover{
                                img{ opacity: 0; visibility: hidden; }
                            }
                            .mod-cat-icon{ width: 80px; }
                        }
                    }
                }
            }
        }
        &-detail{
            .ems-tab-inner{
                padding: 20px 0;
                > ul.navigation-js{
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
}