/*General Definations*/
$baseHref: '';
//$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1420px;
$siteContainerWidthMiddle: 940px;
$siteContainerWidthFull:100%;

/*site Rgba Background*/
$rgbBg: rgba(222, 222, 222 , 0.95);
$bold: "bold";
$regular: "regular";
$medium: "medium";
$tl:"tl";

/*Site Colors*/
$ffYellowL:#DA1021;
$fdYellow:#DA1021;
$btnColor: #DA1021;
$btnAlternateColor:#00579c;
$edGray:#ededed;
$eGray:#eeeeee;
$lGray:#727272;
$lDark:#231f20; 
$darkBlack:#1a1718;
$border:#e9e9e9;
$fbBtnColor:#304b92;
$inputborder:#bebebe;