/*General Definations*/
$baseHref: '//sportsoul.proj-e.com';
//$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1420px;
$siteContainerWidthMiddle: 940px;
$siteContainerWidthFull:100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);
$bold: "bold";
$regular: "regular";
$medium: "medium";
$tl:"tl";

/*Site Colors*/
$ffYellowL:#ffe000;
$fdYellow:#fdde00;
$btnColor: #f05201;
$btnAlternateColor:#00579c;
$edGray:#ededed;
$eGray:#eeeeee;
$lGray:#727272;
$lDark:#231f20; 
$darkBlack:#1a1718;
$border:#e9e9e9;
$fbBtnColor:#304b92;
$inputborder:#bebebe;